html, body{ background: #cfeaf9;margin:0;padding:0;width:100%;height:100%;color:#ffffff;font-size:15px;font-family: 'open_sansregular';}
.empty{height:60px;}
.wrapper{position:relative; min-height:100%;height:auto !important;height:100%;}
.inline{display:inline-block; vertical-align:top;}

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.container{max-width: 1180px;min-width:970px;margin:0 auto;padding:0 15px;}

a{color:#ff0300;text-decoration:none;}
a:hover{text-decoration:none;}

a[href^=tel]{color:#000000}
img{border:none;}



h1, h2, h3, h4 {padding:0;line-height: normal;color:#006699;font-family: 'open_sanssemibold';font-weight:normal;}
h1{font-size:29px;margin:0 0 5px 0;}
h2{font-size:22px;margin:0;}
h3{font-size:18px;margin:0;}
h4{font-size:18px;margin:0;}

::selection { background: #1e80be; color:#ffffff; text-shadow: 1px 1px 0 #838383; }
::-moz-selection { background: #1e80be; color:#ffffff; text-shadow: 1px 1px 0 #838383; }
svg:not(:root) { overflow: hidden; } 
.chromeframe { margin: 0.2em 0; background: #1e80be; color: black; padding: 0.2em 0; }

#header{width:px;height:px;}

#top-box{width:100%;min-width:970px; background:rgba(0,0,0,0.75);height:81px; position: absolute;left:0px;top:0px;z-index:99999;}
#top-box.fixed{height:64px; position: fixed;left:0px;top:0px;width:100%;z-index:99999;
transition: all 0.3s  ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
}
#top-box.fixed .logo{margin:15px 0 0 0;}
/* LOGO */
.logo{min-width:159px;height:32px;float:left;margin:26px 0 0 0;width:19%; text-align:center;}
.logo a{display:block;width:159px;height:32px;background:url(../images/logo.png);margin:0 auto;}

/* SLIDER */
#slides {position: relative;min-width:970px;z-index:1;}
#slides img{position: relative;z-index:1;}
#slides .slides-container {display: none;min-width:970px;}
#slides .slides-container div{min-width:970px;}

#slides .scrollable {*zoom: 1;position: relative;top: 0;left: 0;overflow-y: auto;-webkit-overflow-scrolling: touch;height: 100%;min-width:970px;}
#slides .scrollable:after {content: "";display: table;clear: both;}
.slides-navigation {margin: 0 auto;position: absolute;z-index: 3;top: 46%;width: 100%;}
.slides-navigation a {position: absolute;display: block;width:80px;height:80px;display:block; text-indent:-9999px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;
transition: all 0.3s  ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
}
.slides-navigation a.prev {left: 50px;background:rgba(0,0,0,0.35) url(../images/ico-slide-arrow-prev.png) 45% 50% no-repeat;  }
.slides-navigation a.next {right: 50px;background:rgba(0,0,0,0.35) url(../images/ico-slide-arrow-next.png) 55% 50% no-repeat;}
.slides-navigation a.prev:hover{background:rgba(228,3,0,0.85) url(../images/ico-slide-arrow-prev.png) 45% 50% no-repeat; }
.slides-navigation a.next:hover{background:rgba(228,3,0,0.85) url(../images/ico-slide-arrow-next.png) 55% 50% no-repeat; }

.caption{content:"";background:rgba(0,0,0,0.45);height:90px;margin-left:-350px; position:absolute;left:50%;top:57%; z-index:9999;width:700px; text-align:center;overflow:hidden;padding:10px;}
.caption h4{font-size:30px; text-transform:uppercase;color:#FFFFFF;font-family: 'open_sansregular';}
.caption p{color:#FFFFFF;font-family: 'open_sanslight';font-size:17px;margin:5px 0 5px 0;}

.caption.degustacii h4{font-size:28px;}
.caption.forum{font-size:23px;}

.button-bot{width: 68px;height: 60px; position:absolute;bottom:50px;left:50%;margin-left:-34px;z-index:9999;}
.button-bot a{display:block;width: 68px;height: 60px;background:rgba(0,0,0,0.60) url(../images/ico-arrow-bottom.png) 50% 50% no-repeat;border: solid 1px #c2c1ba;
transition: all 0.3s  ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
}
.button-bot a:hover{background:rgba(228,3,0,0.85) url(../images/ico-arrow-bottom.png) 50% 50% no-repeat;border: solid 1px #ff0300;}


/* NAVIGATION */
nav{display:block;float:left;margin:0 0 0 50px;min-width:470px;height:90px;width:53%;}
ul.nav{padding:0px;margin:0px;height:90px; line-height:81px;}
ul.nav li{ list-style:none;display:inline-block; vertical-align:top;height:90px; line-height:76px;margin:0 6px;}
ul.nav li:first-child{margin:0 6px 0 0;}
ul.nav li:before{content: ""; display:inline-block; vertical-align:top;width:10px; background: url(../images/ico-separate.png) 0 50% no-repeat;height:81px;margin:0 9px 0 0; }

ul.nav li a{color:#FFFFFF;display:inline-block; vertical-align:top;padding:2px 3px;
transition: all 0.3s  ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
}

ul.nav li.home:before {display:none;}
ul.nav li.home a{text-indent:-9999px;width:65px;height:100%; background:#e40300 url(../images/ico-home.png) 50% 40% no-repeat;}

ul.nav li a:hover{color:#e40300}
 
#top-box.fixed nav{height:64px;}
#top-box.fixed ul.nav{height:64px; line-height:69px;}
#top-box.fixed ul.nav li{height:64px; line-height:56px;}
#top-box.fixed ul.nav li:before{height:61px;margin:0 9px 0 0; }

#top-box.fixed .top-info{height:64px;border-bottom:2px solid #e3120f;padding:8px 15px 0 15px;font-size:16px; }
#top-box.fixed .top-info .phone{ background:url(../images/ico-phone.png) 0 3px no-repeat;padding:0 0 0 28px;margin:0 0 4px 0;}

.top-info{min-width:212px;height:81px;border-bottom:4px solid #e3120f; background:#FFFFFF;color:#000000;font-size:17px;float:right;padding:13px 15px 0 15px;width:20%; position:relative;}
.top-info .phone{ background:url(../images/ico-phone.png) 0 3px no-repeat;padding:0 0 0 28px;margin:0 0 6px 0;}
.top-info .phone span{font-family: 'open_sansbold';}

.top-info .mail{ background:url(../images/ico-mail.png) 0 6px no-repeat;padding:0 0 0 28px;}

.calculate{ position:absolute;bottom:-62px;left:0px;width:100%;background:rgba(0,0,0,0.35);height:58px;font-family: 'open_sansitalic'; text-align:center;padding:15px 0 0 0;}
.calculate a{color:#ffffff; background:url(../images/ico-calculate.png) 0 50% no-repeat;padding:0 0 0 32px; text-decoration: underline;font-size:18px;
transition: all 0.3s  ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
}

#top-box.fixed .calculate{display:none;}

/* CLIENT AND BENEFITS*/
#clients-benefits{width:100%;min-width:970px;background:url(../images/benefits-bg.jpg) top center no-repeat;padding:0 0 50px 0;overflow:hidden;}
.module-title{ width:100%;min-width:970px;background:#ff0300;height:70px; line-height:70px;text-align:center;}	
.module-title h3{color:#FFFFFF;font-size:27px; text-transform:uppercase;margin:0 auto;line-height:70px;height:70px; display:inline-block; vertical-align:top;}
.module-title.benefits h3 {background:url(../images/ico-clients-benefits.png) bottom left no-repeat;padding:0 0 0 90px;}

.module-title.contacts h3 {background:url(../images/ico-contacts-us.png) bottom left no-repeat;padding:0 0 0 90px;}

.tag{width:100%;display:block;height:133px;margin-top:-133px;}

.benefits-title, .contacts-title{background:rgba(0,0,0,0.70);width:100%;min-width:970px; position:relative;font-size:26px; text-align:center;font-family: 'open_sanslight';padding:25px 0 25px 0;}
.benefits-title:after, .contacts-title:after{content: ""; display:block;position:absolute;bottom:-15px;height:15px;width:30px;left:50%;margin-left:-15px; background:url(../images/ico-module-corner.png) 0 0 no-repeat;}
.benefits-title span, .contacts-title span{font-family: 'open_sansitalic';}
.benefits-title a, .contacts-title a{font-family: 'open_sansitalic';color:#ff0300}

#benefits{width:100%;height:800px;margin:15px 0 35px 0; position:relative;}
.benefit-box{width:270px;height:270px;border:7px solid #FFFFFF; position:relative; overflow:hidden;
   -webkit-transform: rotate(-45deg);
   -moz-transform:    rotate(-45deg);
   -ms-transform:     rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
  }
.benefit-box h4{ text-transform:uppercase;font-size:22px;font-family: 'open_sanssemibold';color:#FFFFFF; text-align:center;display:block;margin:0px;width:156px; position:absolute;bottom:10px;left:50%;z-index:9999;margin-bottom: 40px;
margin-left: -135px;
   -webkit-transform: rotate(45deg);
   -moz-transform:    rotate(45deg);
   -ms-transform:     rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);

}
.benefit-box h4:after{content:"";display:block;width:45px;height:4px; background:#FFFFFF;margin:5px auto 0 auto;}  

.benefit-box i{display:block;width:154px;height:143px; 
   -webkit-transform: rotate(45deg);
   -moz-transform:    rotate(45deg);
   -ms-transform:     rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);width:100%;
}
 
.benefit-box.bef-1{ background:#ffcb40; position:absolute;top:60px;left:50%;margin-left:-135px;}
.benefit-box.bef-2{ background:#15734e; position:absolute;top:260px;left:50%;margin-left:-335px;}
.benefit-box.bef-3{ background:#1f9aaa; position:absolute;top:460px;left:50%;margin-left:-135px;}
.benefit-box.bef-4{ background:#ff0300; position:absolute;top:260px;left:50%;margin-left:66px;}

.benefit-box.bef-1 i{background:url(../images/ico-target.png) 95% 50% no-repeat;}
.benefit-box.bef-2 i{background:url(../images/ico-money.png) 79% 65% no-repeat;}
.benefit-box.bef-3 i{background:url(../images/ico-support.png) 79% 65% no-repeat;}
.benefit-box.bef-4 i{background:url(../images/ico-expirence.png) 79% 65% no-repeat;}


.bef-hover{background:rgba(0,0,0,0.80);width:400px;height:400px;z-index:1;position:absolute;padding:90px 100px 100px 100px;font-size:14px;font-family: 'open_sansregular';left:-137%;top:210px;
   -webkit-transform: rotate(45deg);
   -moz-transform:    rotate(45deg);
   -ms-transform:     rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
   transition: all 0.8s  ease-in;
-moz-transition: all 0.8s ease-in;
-webkit-transition: all 0.8s ease-in;
   }
   
.bef-hover p{height:126px; text-align:center;padding:45px 0 0 0;width:260px;margin-left:-30px;z-index:10; position:relative;}
.bef-1 p{color:#3d3d3d !important;}

.benefit-box:hover h4:after{background:#ff0300;}


.benefit-box:hover .bef-hover{left:-28%;top:-70px;}
.benefit-box:hover h4{bottom:-100px;left:7%;}

.benefit-box.bef-1:hover .bef-hover{background:#ffcb40;}
.benefit-box.bef-2:hover .bef-hover{background:#15734e;}
.benefit-box.bef-3:hover .bef-hover{background:#1f9aaa;}
.benefit-box.bef-4:hover .bef-hover{background:#ff0300;}

#clients-box{width:100%;background:rgba(255,255,255,0.40); background:#e1e1e1\0/;}
ul.clients{padding:15px 0 5px 0;margin:0px;width:100%;display:table;}
ul.clients li{ list-style:none;width:20%; text-align:center;margin:6px 0;padding:0 10px;height:120px;display:table-cell; vertical-align:middle; cursor:pointer; position:relative;}
ul.clients li img{max-width:210px;max-height:120px;}
.logo-hover{width:250px;height:170px;position:absolute;top:-150px;left:50%;margin-left:-125px;  visibility:hidden;}
.logo-hover-box{width:100%;height:170px;  overflow:hidden;border:2px solid #FFFFFF; position:relative;}
.logo-hover-box img{width:250px !important;display:block;height:170px !important;max-width:250px !important;max-height: none !important;z-index:9;}
ul.clients li:hover .logo-hover{}
.logo-hover:after{content:"";display:block;position:absolute;bottom:-20px;left:50%;width:26px;height:20px;margin-left:-13px; background: url(../images/logo-box-corner.png);z-index:9999;}


ul.clients li:hover .logo-hover{
	animation-name: fadeInlogo;
	-webkit-animation-name: fadeInlogo;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeInlogo {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeInlogo {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}


.logo-caption{height:26px;width:100%; text-align:center; line-height:26px;background:rgba(255,3,0,0.70);color:#FFFFFF;font-family: 'open_sansitalic';font-size:14px;}
a.logo-zoom{width:66px;height:66px;background: url(../images/ico-zoom.png) 50% 50% no-repeat rgba(255,3,0,0.80); position:absolute;left:50%;margin-left:-33px;top:55%;margin-top:-33px;z-index:99;display:block;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;
   transition: background 0.3s  ease-out;
-moz-transition: background 0.3s ease-out;
-webkit-transition: background 0.3s ease-out;
}
a.logo-zoom:hover{background: url(../images/ico-zoom.png) 50% 50% no-repeat rgba(255,3,0,1);}

/* HOW WE WORKS */
#how-works{width:100%;min-width:970px;background:#cfeaf9;}

.module-title.how-works h3 {background:url(../images/ico-how-we-works.png) top left no-repeat;padding:0 0 0 90px;}
.info-graphic{width:100%; background:url(../images/how-works-img.png) top center no-repeat;height:486px;margin:45px 0 0 0;}

.how-works-steps{width:100%; background:url(../images/steps-bg.jpg) top center no-repeat;padding:90px 0 50px  0;}
ul.steps-list{margin:0px;padding:0px;}
ul.steps-list li{ list-style:none; text-align:center;float:left;width:33.333333333%;}
ul.steps-list li p{margin:8px auto 8px auto; text-align:left;width:80%;font-family: 'open_sansitalic';}

.how-works-info{margin:0 0 30px 0;font-family: 'open_sansitalic';}
.how-works-info span{color:#ff0300;font-size:17px;}

.steps-top-box{width:294px;height:294px; position:relative;margin:0 auto 15px auto;}
.steps-top-box h4{width:60%;color:#FFFFFF;font-family: 'open_sanssemibold';margin:0 auto;padding:164px 0 0 0;font-size:24px;}
.step1{ background:url(../images/ico-think.png) 0 0 no-repeat;}
.step2{ background:url(../images/ico-implement.png) 0 0 no-repeat;}
.step3{ background:url(../images/ico-result.png) 0 0 no-repeat;}

/* CONTACTS BOX */
#contacts{width:100%;min-width:970px; overflow:hidden;}
.contacts-content{ background:url(../images/contacts-bg.jpg);height:646px;}

/* FORMS */
.contacts-form{margin-top:60px;float:left;width:40%}
.contacts-form div{margin-bottom:10px;}
.contacts-form input[type="text"], 
input[type="email"], 
input[type="name"], 
input[type="tel"], textarea{padding:16px 10px 16px 46px !important;width:100%;}

.contacts-form textarea{width:100%; resize:none;height:162px;}

.contacts-form .name, .contacts-form .email, .contacts-form .message, .contacts-form .phone{
	   transition: all 0.3s  ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
	}
.contacts-form .name{ background: rgba(255,255,255,0.90) url(../images/ico-form-name.png) 12px 48% no-repeat;}
.contacts-form .email{ background: rgba(255,255,255,0.90) url(../images/ico-form-email.png) 12px 48% no-repeat;}
.contacts-form .message{ background: rgba(255,255,255,0.90) url(../images/ico-form-message.png) 12px 16px no-repeat;}
.contacts-form .phone{ background: rgba(255,255,255,0.90) url(../images/ico-form-phone.png) 12px 49% no-repeat;}

input[type="text"], 
input[type="email"], 
input[type="name"], 
input[type="tel"], 
textarea { font-size:14px;background:rgba(255,255,255,0.90); background:#FFFFFF\0/;padding:11px 10px;vertical-align:top !important;margin:0px;
box-shadow:none;font-family: 'open_sansregular';border:0px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
-moz-box-shadow:none;
-webkit-box-shadow:none;
   transition: all 0.3s  ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="name"]:focus, 
input[type="tel"]:focus, 
textarea:focus {
box-shadow: 0px 0px 2px rgba(0,0,0,0.60);
-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.60);
-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.60);
outline:none;
}

.contacts-form .name:focus{ background: rgba(255,255,255,1) url(../images/ico-form-name.png) 12px 48% no-repeat;}
.contacts-form .email:focus{ background: rgba(255,255,255,1) url(../images/ico-form-email.png) 12px 48% no-repeat;}
.contacts-form .message:focus{ background: rgba(255,255,255,1) url(../images/ico-form-message.png) 12px 16px no-repeat;}
.contacts-form .phone:focus{ background: rgba(255,255,255,1) url(../images/ico-form-phone.png) 12px 49% no-repeat;}
.contacts-form input[type="submit"], .contacts-form input[type="button"]{width:100%;}

input[type="button"], input[type="submit"], .button a, #button a, a.button, a#button, .button, #button{color:#ffffff;font-family: 'open_sansregular';padding:14px 20px;border:none;font-size:22px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: rgba(255,0,3,0.8);
-webkit-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;}

input[type="button"]:hover, input[type="submit"]:hover, .button:hover, #button:hover, .button a:hover, #button a:hover, a.button:hover, a#button:hover{
	background-color: rgba(255,0,3,1);
	-webkit-box-shadow: inset 0 0 1px rgba(255,255,255,.35);
	-moz-box-shadow: inset 0 0 1px rgba(255,255,255,.35);
	box-shadow: inset 0 0 1px rgba(255,255,255,.35);
	}

input[type="button"]:active, input[type="submit"]:active{border:none !important; outline:none !important;}
input[type="button"]:focus, input[type="submit"]:focus{border:none !important;outline:none !important;}

.contacts-map{float:right;width:55%;border:2px solid #ffffff;margin:60px 0 0 0;height:417px;overflow:hidden;}
.contacts-map img{display:block;width:100%; height:auto;}
/* FOOTER */
#footer{width:100%;min-width:970px;height:60px;margin-top:-60px; position:relative; background:#08090a;font-size:13px;padding:21px 0 0 0;}
.copyright{float:left;}
.powered{float:right;}

.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: table;line-height: 0;content: "";}
.clearfix:after {clear: both;}

input::-moz-placeholder { color: #3b3b3b;}
input::-webkit-input-placeholder { color: #3b3b3b;}
textarea::-webkit-input-placeholder { color: #3b3b3b;}
textarea::-moz-placeholder { color: #3b3b3b;}

@media (max-width: 1200px){
ul.clients li img{max-width:160px;max-height:120px}
ul.steps-list li p{width:90%;}
}


@media (max-height: 768px){
	.container{max-width: 970px !important;}
	.benefit-box{width:240px;height:240px;}
.benefit-box.bef-1{top:60px;margin-left:-120px;}
.benefit-box.bef-2{top:240px;margin-left:-300px;}
.benefit-box.bef-3{top:420px;margin-left:-120px;}
.benefit-box.bef-4{top:240px; margin-left:61px;}

.benefit-box.bef-1 i{background:url(../images/ico-target.png) 100% 50% no-repeat;}
.benefit-box.bef-2 i{background:url(../images/ico-money.png) 79% 65% no-repeat;}
.benefit-box.bef-3 i{background:url(../images/ico-support.png) 74% 65% no-repeat;}
.benefit-box.bef-4 i{background:url(../images/ico-expirence.png) 79% 65% no-repeat;}

.benefit-box h4{font-size:22px;width:156px; position:absolute;bottom:10px;left:50%;z-index:9999;margin-bottom: 30px;margin-left: -132px;}

.bef-hover{width:360px;height:360px;z-index:1;padding:90px 100px 100px 100px;left:-140%;top:180px;font-size:13px;
 }
.benefit-box:hover .bef-hover{left:-29%;top:-70px;}
.bef-hover p{text-align:center;padding:25px 0 0 0;width:230px;margin-left:-34px;z-index:10; position:relative;}
}
